*{
padding: 0%;
margin: 0%;
    font-family: 'Catamaran', sans-serif;

}
/*----------en este segmento,utilice css-flexblox, para alinear el contenido ,en columna y hacia el centro---------*/
body{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) no-repeat center;
}
/*----------en este segmento,utilice css-Grid, para determinar los espacios prolijamente,vamos a encontrar 3 secciones,que dividen la tarjeta,-image-text y prize---------*/

.card{
    background:white;
    display: grid;
    margin: 1% 4%;
    grid-template-columns:18em;
    grid-template-rows: 18em 3em 3em;
    grid-template-areas: "card-image""card-text""card-prize";
    border-radius: 1em;
    box-shadow: 50px 40px 25px -22px rgba(153,154,161,1);
}

/*----------image---------*/

    .card-image{
            grid-area:card-image;
    }
    .card-image img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;

    }

/*----------text---------*/
    .card-text{
            grid-area:card-text;
            text-align: center;
            align-self: center;
            height: 100%;
        }
        .card-text p {
            font-size: 1em;
            text-transform: capitalize;
        }
    .card-text h3 {
            font-size: 1em;
            text-transform: uppercase;

        }

/*----------prize---------*/
.card-prize{
        grid-area:card-prize;
        display: grid;
        text-align: center;
        align-self: center;
        grid-template-columns: 1fr 1fr;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

    }
        .card-prize h4{
            font-size: 1em;

        }
        .card-prize i {
            font-size: 1.3em;
            transition: all 100ms;
        }
        .card-prize i:hover{
            color:aquamarine;
            font-size: 1.5em;

        }